@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight-lg {
  @apply font-medium text-lg text-gray-800;
}
.highlight {
  @apply font-medium text-gray-700;
}

.highlight-accent {
  @apply text-primary-red;
}

html {
  scroll-behavior: smooth;
}

.header {
  max-height: 130vh;
}

@media (max-width: 968px) {
  .header {
    max-height: 140vh;
  }
}

.header-large {
  font-size: clamp(36px, 10vw, 50px);
}
.header-small {
  font-size: 18px;
}
.section-title-font-size {
  font-size: clamp(32px, 10vw, 36px);
}

.feature-title-small,
.time-header-detail,
.card-section-small {
  font-size: clamp(16px, 10vw, 20px);
}

.subscribe-small,
.screenshot-small,
.section-detail-small {
  font-size: clamp(14px, 10vw, 18px);
}

.feature-detail {
  font-size: clamp(16px, 1vw, 18px);
}

.quotes {
  font-size: clamp(20px, 5vw, 25px);
}

.quotes:before {
  color: #ff3d65;
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1rem;
  vertical-align: -1.3rem;
}
.quotes:after {
  color: #ff3d65;
  content: close-quote;
  font-size: 4rem;
  line-height: 0.1rem;
  vertical-align: -1.45rem;
}

.background {
  z-index: -10;
}

.accordion-content {
  padding-top: 1.25rem;
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1s ease-in-out, padding 0.2s;
}

.accordion-content[aria-expanded="true"] {
  padding: 0rem;
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), padding 0.2s;
}

/* .slick-list {
  padding: 0 20% 0 0 !important;
} */

.underline-effect {
  position: relative;
}

.underline-effect::before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: width 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline-effect:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.underline-effect.navlink-active::before {
  width: 100%;
}

.underline-effect.light-nav::before {
  background-color: rgb(107, 114, 128);
}

.underline-effect.light-nav.navlink-active {
  color: #ef3340;
}

.underline-effect.light-nav.navlink-active::before {
  background-color: #ef3340;
}

.btn-hover {
  background-size: 300% 100%;

  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
}
